{{- if .Values.postgres.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "calcard.fullname" . }}-postgres
  labels:
    {{- include "calcard.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    {{- include "calcard.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: postgres
{{- end }}
